[Desktop Entry]
Name=VGC_Analyze
Comment=A visual VGCollect.com data analyzer
Exec=vgcanalyze
Icon=/usr/lib/vgcanalyze/assets/icons/icon.png
Terminal=false
Type=Application
Categories=Game;
Keywords=Games
